# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
